'menu': [
  'label': 'Packages'
  'submenu': [
    'label': 'GLSL Preview'
    'submenu': [
      'label': 'Preview shader'
      'command': 'glsl-preview:toggle'
    ]
  ]
]

'context-menu':
  'atom-text-editor': [
    {label: 'Glsl Preview: Preview shader', command: 'glsl-preview:toggle'}
  ]
  '.tree-view .file':[
    {label: 'Glsl Preview: Add texture', command: 'glsl-preview:addTextureTreeView'}
    {label: 'Glsl Preview: Remove texture', command: 'glsl-preview:removeTexture'}
    {label: 'Glsl Preview: Toggle texture button', command: 'glsl-preview:toggleTextureButton'}
  ]
